
<input type="text" name="email"/>
<input type="password" name="password"/>
<button>로그인</button>

<a href="/">카카오톡</a>
<a href="/">구글</a>
<a href="/">페이스북</a>
<a href="/">깃허브</a>
<a href="/">카카오톡</a>
<a href="/">네이버</a>
