<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button id="request-ajax">Request Ajax</button>
<div id="demo">

</div>
<button id="request-ajax-user-list">User-list Ajax</button>
<div id="user-list">

</div>

<script>
  document.getElementById("request-ajax").addEventListener("click", function(){
    $.ajax({
      url:'/sample-ajax/return',
           success:function(data){
             document.getElementById("demo").innerHTML = data;
           }
    });
  });
  // document.getElementById("request-ajax-user-list").addEventListener("click", function(){
    $.ajax({
      url:'/users/list',
           success:function(data){
             var ret ="";
             for(var i in data)
              {
                   var id = data[i].id;
                  ret+=id+":";

                   var name = data[i].name;
                  //  console.log(name);
                  ret+=name+"<br/>";
              }

             document.getElementById("user-list").innerHTML = ret;
           }
    });
  // });
</script>
