<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button id="request-ajax">Request Ajax</button>
<div id="demo">

</div>
<button id="request-ajax-user-list">User-list Ajax</button>
<div id="user-list">

</div>

<script>
  document.getElementById("request-ajax").addEventListener("click", function(){
    $.ajax({
      url:'/sample-ajax/return',
           success:function(data){
             document.getElementById("demo").innerHTML = data;
           }
    });
  });

  $(document).ready(function(){
    document.getElementById("request-ajax-user-list").addEventListener("click", (function(){
      var appendDiv = document.getElementById("user-list"),
          source = $("#users-template").html();
          console.log(source);
          var template = Handlebars.compile(source); 

      return function(e){
        $.ajax({
          url:'/users/list',
              success:function(data){
                //핸들바 템플릿 컴파일
                appendDiv.innerHTML = template(data);
              }
        });
      }
    }()));
  })
  
  
</script>

<script id="users-template" type="text/x-handlebars-template">
<table>
    <thead> 
        <th>ID</th> 
        <th>이름</th> 
    </thead> 
    <tbody> 
      \{{#each this}}
          <tr>
          <td class="row">\{{id}}</td>
          <td class="row">\{{name}}</td>
          </tr>
      \{{/each}}
    </tbody> 
</table>
</script>
